.travel {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 20%;
    margin-top: 4rem;
    background: none;
    flex-wrap: wrap;
    margin-top: 16rem;
}

.photos div {
    border-radius: 5px;
    transition: 0.6s;
}

.photos div:hover {
    transform: scale(1.1);
}

#image1 {
    background: url("../../img/paris.JPG");
    background-size: 310px 370px;
    width: 310px;
    height: 370px;
}


#image2 {
    background: url("../../img/belcika2.JPG");
    background-size: 320px 370px;
    width: 320px;
    height: 370px;
}

#h4 {
    font-size: 2rem;
    color: white;
    font-weight: bold;
}

#image3 {
    background: url("../../img/amsterdam.JPG");
    background-size: 310px 370px;
    width: 310px;
    height: 370px;
}

#image4 {
    background: url("../../img/belcika.JPG");
    background-size: 320px 370px;
    width: 320px;
    height: 370px;
}

.photos {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 4rem;
    background: none;
    flex-wrap: wrap;
}