.header {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 20%;
    margin-top: 3rem;
    background: none;
}

.head h4 {
    font-size: 2.4rem;
    background: none;
    color: white;
    font-weight: bold;
}

.links {
    background: none;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    justify-content: space-between;
}

.head {
    background: none;
}

.link {
    background: none;
    padding-inline: 0.6rem;
    padding-block: 0.5rem;
    color: white;
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 0.6s;
    border-bottom: 2px solid white;
    border-radius: 6px;
    box-shadow: 0px 2px;
}

.link:hover {
    box-shadow: none;
}

.link:active {
    transform: translateY(0.7rem);
    box-shadow: none;
}

.link:hover Link {
    color: black;
}

svg {
    background: none;

}

#theme {
    background: none;

    margin-top: 1rem;
}



@media screen and (max-width: 760px) {
    .links {
        display: flex;
        flex-direction: column;
    }

    .link:nth-child(2) {
        margin-left: 0;
    }

    .link:nth-child(3) {
        margin-left: 0;
    }
    .link:nth-child(4) {
        margin-left: 0;
    }
}

.spotify {
    padding-block: 0.4rem;
    margin-top: 1rem;
}